In [1]:
import pandas as pd
from sklearn.metrics import classification_report,precision_score, recall_score, f1_score,confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('farmer.csv')

In [3]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2195    False
2196    False
2197    False
2198    False
2199    False
Length: 2200, dtype: bool

In [8]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [9]:
num=df.select_dtypes(exclude='object')

In [10]:
char=df.select_dtypes(include='object')

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
char['label'] = le.fit_transform(char['label'])

In [12]:
clean_data=pd.concat([char,num],axis=1)

In [13]:
clean_data

      label    N   P   K  temperature   humidity        ph    rainfall
0        20   90  42  43    20.879744  82.002744  6.502985  202.935536
1        20   85  58  41    21.770462  80.319644  7.038096  226.655537
2        20   60  55  44    23.004459  82.320763  7.840207  263.964248
3        20   74  35  40    26.491096  80.158363  6.980401  242.864034
4        20   78  42  42    20.130175  81.604873  7.628473  262.717340
...     ...  ...  ..  ..          ...        ...       ...         ...
2195      5  107  34  32    26.774637  66.413269  6.780064  177.774507
2196      5   99  15  27    27.417112  56.636362  6.086922  127.924610
2197      5  118  33  30    24.131797  67.225123  6.362608  173.322839
2198      5  117  32  34    26.272418  52.127394  6.758793  127.175293
2199      5  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 8 columns]

In [14]:
clean_data.to_csv('new_Cleaned_farmer.csv', index=False)