# Tuples and Operations

In [ ]:
# Tuples and Operations
tpl = (1,2,3,4,5,585,5,"saksham",2.3)
print("my first tuple - ", tpl)
print("length of the tuple - ", len(tpl))
print("type of the tuple - ", type(tpl))
print(tpl[0])
print(tpl[2])
print(tpl[0:6])
print(tpl.count(5))

# task

In [ ]:
a = 1,2,3,4,49,40,99
print(a)
print(type(a))
print(len(a))

In [ ]:
# tuple unpacking
a, b, c = 1, 2, 3
print("tuple unpacking")
print(a)
print(b)
print(c)

In [ ]:
# tuple operations
# max, min, sum
tepl = (1,2,3,4,5,6,7)
print("max of the tuple is ", max(tepl))
print("min of the tuple is ", min(tepl))
print("sum of the tuple is ", sum(tepl))