In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df

          price  kms_driven  owner  age  power  brand
0       35000.0     17654.0      1    3  110.0      8
1       65000.0     16329.0      1    4  180.0      8
2       80000.0     10000.0      1    3  150.0      5
3       53499.0     25000.0      1    6  150.0      5
4       85000.0      8200.0      1    3  160.0      6
...         ...         ...    ...  ...    ...    ...
17720   25000.0     32588.0      1    9  150.0      3
17721  123000.0     14500.0      1    4  250.0      5
17722   30000.0      6639.0      1    9  180.0      8
17723   60000.0     20373.0      1    6  220.0      3
17724   22000.0     60857.0      1   13  150.0      3

[17725 rows x 6 columns]

In [4]:
df.drop_duplicates(inplace=True )

In [5]:
df

        price  kms_driven  owner  age  power  brand
0     35000.0     17654.0      1    3  110.0      8
1     65000.0     16329.0      1    4  180.0      8
2     80000.0     10000.0      1    3  150.0      5
3     53499.0     25000.0      1    6  150.0      5
4     85000.0      8200.0      1    3  160.0      6
...       ...         ...    ...  ...    ...    ...
4226  55000.0     10000.0      1    6  180.0      3
4230  48000.0     41939.0      1    8  200.0      3
4231  50000.0     29134.0      1    7  220.0      3
4237  35000.0     60000.0      1    9  220.0      3
4238  80000.0      7127.0      1    5  220.0      3

[3285 rows x 6 columns]

In [6]:
x=df.drop('price', axis=1)
y=df['price']

In [7]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1    3  110.0      8
1        16329.0      1    4  180.0      8
2        10000.0      1    3  150.0      5
3        25000.0      1    6  150.0      5
4         8200.0      1    3  160.0      6
...          ...    ...  ...    ...    ...
4226     10000.0      1    6  180.0      3
4230     41939.0      1    8  200.0      3
4231     29134.0      1    7  220.0      3
4237     60000.0      1    9  220.0      3
4238      7127.0      1    5  220.0      3

[3285 rows x 5 columns]

In [8]:
y

0       35000.0
1       65000.0
2       80000.0
3       53499.0
4       85000.0
         ...
4226    55000.0
4230    48000.0
4231    50000.0
4237    35000.0
4238    80000.0
Name: price, Length: 3285, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [10]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [12]:
input_shape =(5,)

In [13]:
model= Sequential()
# input_layer
model.add(Dense(units =64,activation='relu', input_shape= input_shape))

# hidden layers
model.add(Dense(units=32 , activation = 'relu'))
model.add(Dense(units=16 , activation = 'relu'))
model.add(Dense(units=8 , activation = 'relu'))

# output layer
model.add(Dense(units=1 , activation = 'linear'))


model.compile(loss='mse', optimizer= 'adam', metrics= ['mse','mae'])

c:\Users\nanus\AppData\Local\Programs\Python\Python313\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           384 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 8)              │           136 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,137 (12.25 KB)

 Trainable params: 3,137 (12.25 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3779217408.0000 - mae: 53505.3633 - mse: 3779217408.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3749580800.0000 - mae: 53168.8711 - mse: 3749580800.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2439930880.0000 - mae: 38258.3672 - mse: 2439930880.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2349326848.0000 - mae: 37313.3750 - mse: 2349326848.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2336420608.0000 - mae: 37353.9336 - mse: 2336420608.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2312321024.0000 - mae: 37092.3711 - mse: 2312321024.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2264488960.0000 - mae: 36718.2422 - mse: 2264488960.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2177461760.0000 - mae: 35811.7188 - mse: 2177461760.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1984301056.0000 - mae: 34127.5469 - mse: 1984301056.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1427585280.0000 - mae: 28186.8711 - mse: 1427585280.0000

In [16]:
history = model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 647185216.0000 - mae: 18562.2285 - mse: 647185216.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 473872160.0000 - mae: 16081.0293 - mse: 473872160.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 489296672.0000 - mae: 16493.0605 - mse: 489296672.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 465436032.0000 - mae: 15994.7412 - mse: 465436032.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 454900096.0000 - mae: 15823.5420 - mse: 454900096.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 454524096.0000 - mae: 15735.5986 - mse: 454524096.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 465331776.0000 - mae: 16096.0654 - mse: 465331776.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 453143488.0000 - mae: 15781.3672 - mse: 453143488.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 463737440.0000 - mae: 16011.4248 - mse: 463737440.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 448475520.0000 - mae: 15681.6455 - mse: 448475520.0000

In [17]:
pd.DataFrame(history.history)

          loss           mae          mse
0  647185216.0  18562.228516  647185216.0
1  473872160.0  16081.029297  473872160.0
2  489296672.0  16493.060547  489296672.0
3  465436032.0  15994.741211  465436032.0
4  454900096.0  15823.541992  454900096.0
5  454524096.0  15735.598633  454524096.0
6  465331776.0  16096.065430  465331776.0
7  453143488.0  15781.367188  453143488.0
8  463737440.0  16011.424805  463737440.0
9  448475520.0  15681.645508  448475520.0

In [18]:
pred = model.predict(x_train)

83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [19]:
pred

array([[66343.06 ],
       [70656.98 ],
       [62071.367],
       ...,
       [25515.383],
       [68200.29 ],
       [28122.24 ]], shape=(2628, 1), dtype=float32)

In [20]:
y_test

645     18000.0
2517    30000.0
447     19000.0
2608    12000.0
1778    23000.0
         ...
1939    83000.0
1489    65000.0
721     25500.0
1832    80000.0
1311    76000.0
Name: price, Length: 657, dtype: float64

In [21]:
pred_test = model.predict(x_test)
output = pd.DataFrame({'actual': y_test.values, 'predict': pred_test.ravel()})

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [23]:
output

      actual       predict
0    18000.0  19696.333984
1    30000.0  26647.541016
2    19000.0  37767.808594
3    12000.0  64869.878906
4    23000.0  23259.046875
..       ...           ...
652  83000.0  52731.175781
653  65000.0  65702.640625
654  25500.0  24396.695312
655  80000.0  85359.281250
656  76000.0  49568.609375

[657 rows x 2 columns]

In [22]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.